


/* RESPONSIVENESS SIZE BREAKPOINT 

PHONE 600PX 
TABLET 760PX
LAPTOP 992PX 
LARGE 1200PX  */







@media only screen and (max-width: 820px) {
  html {
    font-size: 50%;
  }

  .hlinks {
    height: 100vh;
    width: 70vw;
    backdrop-filter:blur(10px) ;
    /* background-color: rgb(194, 203, 243); */
    position: fixed;
    top: 0%;
    right: 0%;
    z-index: 1111111;
    transform: translateX(800px);
  }

  i.bx-x {
    position: absolute;
    top: 2%;
    right: 3%;
    font-size: 5rem;
    color: white;
  }

  .hlinks ul {
    flex-direction: column;
    align-items: center;
    padding-top: 45%;
  }

  i.bx-menu-alt-right {
    display: block;
  }

  
  i.bx-x {
    display: block;
    border: 1px solid #a4a1cf;
    color: black;
    border-radius: 50%;
  }

  .header {
    padding: 2% 4%;
    height: 9vh;
  }
  .blankspace {
    height: 9vh;
  }

  .hero {
    padding: 2% 6%;
    flex-direction: column;
  }

  .secondlayout {
    flex-direction: column;
    /* margin-bottom: 2rem; */
    padding: 2% 5%;
  }
  .secondbanner{
    padding: 0rem 5%;
  }

  .rightlay img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .box {
    width: 100%;
  }

  .rightlay {
    width: 100%;
    height: 40vh;
  }

  .leftlay {
    height: 40vh;
    margin-top: 2rem;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 0.8rem;
  }


  .hright {
    width: 100vw;
    padding-left: 10%;
  }

  .flink ul {
    gap: 10px;
  }

  i.bx-menu-alt-right {
    font-size: 4rem;
    margin-left: 3rem;
  }

  .footer {
    padding: 0.2rem 2rem;
  }

  .hright {
    height: 40vh;
  }

  .hleft {
    height: 40vh;
  }

  .first {
    display: block;
  }

  .btn {
    display: none;
  }
  /* .......... contact .................   */

  .contact {
    padding: 0;
    /* height: 900px; */
    flex-direction: column;
    gap: 6vh;
    justify-content: space-around;
  }
  .calbox {
    width: 100%;
  }
  .formbox {
    flex-direction: column;
    width: 100%;
  }
  .name,
  .email {
    width: 100%;
  }
  .rightform,
  .leftform {
    width: 100%;
    height: fit-content;
  }

  .leftform {
    padding: 0 3%;
    gap: 2rem;
  }

  .rightform input {
    padding: 1.1rem;
    width: 100%;
    border-radius: 1rem
  }

  .submit1{
    display:none;
  }

  /* ................... service...............   */

  .services {
    padding: 2%;
  }

  .scontainer {
      height: 95%;
  }

  .sbox {
    flex-direction: column;
  }

  /* ......................./ Portfolio .......................    */
  .portfolio {
    padding: 2% 4%;
  }
  .portfolio>h1{
    font-size: 4rem;
    font-weight: bold;
    color: rgb(126, 151, 175);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }


  .pdata{
    order: 1;
  }

  

  
  .pbox {
    flex-direction: column;
    gap: 2rem;
    height: 100vh;
  }
  .pimg,
  .pdata {
    height: 48vh;

    width: 100%;
   
  }

  .layar{
    padding: 0% 5%;
  }


  .pdata{
    padding: 2% 4%;
  }

 
  


  .rightform , .leftform{
    font-size: 1.7rem
   
  }

  

  .chead{
    font-size: 3rem;
  }

  .portfolio{
    font-size: 3rem;
  }

  .shead {
    font-size: 3rem; 
  }

  .logo h1{
    font-size: 3.6rem;
  }

  .fcopy h3 {
    font-size: 1.6rem;
    font-weight: 500;
    /* color: black; */
  }

  .leftform{
    margin-bottom: 10rem;
  }


  .lbox{
    width: 100%;
  }
  
  .rbox{
    width: 100%;
  }

 

.child{
  min-width: 90%;
}

.rightlay{
  height: 40%;
}



.containere1{
  width: 100%;
}

.child p {
  font-size: 1.3rem;
  font-weight: 700;
  color: black;
 
}

.maine {
  flex-direction: column;
  gap: 2rem;
}

.containere {
  width: 100%;
}

.kotn {
  width: 37%;
}




.follow{
  padding-top: 40%;
   backdrop-filter:blur(10px) ;
}
i.bx-exit {
  color: #c41a45;
  position: absolute;
  top: 8%;
  right: 10%;
} 

::-webkit-scrollbar {
  width:1rem;
}
::-webkit-scrollbar-track {
background-color: #e6e7e7;  
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(#64b2ff , #ff22e6);
  border-radius: 10px;
}

}






    /* for laptops  ///////////////////////////////////////////////////////// */

@media only screen and (min-width: 820px) {
  html {
    font-size: 62.5%;
  }

  .hero {
    height: 90vh;
  }
  .first {
    display: none;
  }

  .btn {
    display: block;
  }

  .secondlayout {
    height: 90vh;
  }
  .toplayout {
    height: 90vh;
  }
  .mslide {
    height: 60vh;
  }
  .services {
    height: 83vh;
  }
 
  .chead{
    height: 3vh;
  }
  .contact {
    height: calc(100vh - 21vh);
  }

  .rightform , .leftform{
    font-size: 1.3rem
  }

  .follow{
    width:40%;
    height: 50%;
   left: 50%;
   top: 10%;
   border: 1px solid thistle;
   
  }

  i.bx-exit{
    color: #1f0531;
    position: absolute;
    top: 2%;
    right: 2%;
  }

  



}
