@media only screen and (max-width: 778px) {
 
  .hlinks {
    height: 100vh;
    width: 100vw;
    background-color: rgb(196, 205, 247);
    position: fixed;
    top: 0%;
    right: 0%;
    z-index: 1111111;
   
  transform: translateX(800px);
  }

  i.bx-x {
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 50px;
    color: white;
  }

  .hlinks ul {
    flex-direction: column;
    align-items: center;
    padding-top: 20%;
  }


  i.bx-menu-alt-right {
    display: block;
  }
  
  i.bx-x {
    display: block;
  }

  .header {
    padding: 2% 6%;
  }

  .hero {
    padding: 2% 6%;
  }
  .hleft {
    display: none;
  }

  .hright {
    width: 100vw;
    padding-left: 10%;
  }


  .flink ul {
    gap: 10px;
  }

  .flink i {
    font-size: 20px;
  }
  .footer{
    padding: 2px 8px;
  }
  .fcopy h3{
font-size: 15px;
  }


  /* .......... contact .................   */

.contact{
  padding: 0;
  height: 900px;
  flex-direction: column;
gap: 20px;
}
.calbox{
  width: 100%;
}
.formbox{
  flex-direction: column;
  width: 100%;
}
.name ,
.email{
  width: 100%;
}
.rightform,.leftform{
  width: 100%;
}

.leftform{
  padding: 0;
}

.rightform input{
  /* margin-top: 10px; */
  padding: 4px;
  width: 100%;
}

.calldata h3{
  font-size: 14px;
}


/* ................... service...............   */


.services{
  padding: 2%;
min-height: 1180px;
}

.scontainer{
  padding: 5% 2% 2% 2%;
}

.sbox{
  flex-direction: column;
  
}

.inbox{
  /* padding:  1% 2%; */
}
 

}