@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
  background-color: #ffff;
  position: relative;
}



.fuulbdy{
  position: relative;

}

.follow{
  height: 100%;
  width: 100%;
  backdrop-filter:blur(50px) ;
  position: fixed;
  z-index: 1111111111111111111111111111111;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: none;
  transition: .5s ease-in;


}

.box i {
  border-radius: 5px;
  border: 1px solid white ;
  padding: 2rem;
  background-color: #6a85c0;

}

.box {
  
  display: flex;
  align-items: center;
  justify-content:center;
  flex-direction: column;
  gap: 4rem;
  
}

/* i.bx-exit {
  position: absolute;
  top: 10%;
  left: 10%;
} */

.bgcolor {
  background-color: #f5f5f7;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  width: 100vw;
  height: 7vh;
  padding: 1% 10%;
  box-shadow: 10px 5px 5px #f7f5f5;
  background-color: #ffffff;

  backdrop-filter: blur;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.logo h1 {
  font-family: cursive;
}
span {
  font-family: cursive;
  font-weight: 600;
  color: red;
}
.hlinks {
  transition: 0.2s ease-in;
}

.hlinks ul {
  display: flex;
  gap: 3rem;
}

.hlinks ul li {
  list-style: none;
}

.hlinks ul li a {
  text-decoration: none;
  font-size: 2rem;
  font-weight: 400;
  color: rgb(8, 8, 8);
  cursor: pointer;
  border-radius: 3rem;
  position: relative;
}

.hlinks ul li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgb(102, 92, 92);
  height: 0.2rem;
  width: 0%;
  transition: 2s ease;
}

.hlinks ul li a:hover::after {
  width: 100%;
  color: rgb(102, 92, 92);
}

i.bx-menu-alt-right {
  display: none;
  font-size: 3rem;
  color: rgb(19, 18, 18);
}

i.bx-x {
  display: none;
}

.btn {
  border: 0.1rem solid #fff9f9;
  background-color: rgb(250, 250, 250);
  border-radius: 1rem;
  padding: 0.6rem 1.5rem;
  font-size: 1.7rem;
  color: black;
  transition: 0.6s ease-in-out;
}

.btn:hover {
  border: 0.1rem solid black;
  /* background-color: rgb(126, 126, 126); */
  /* outline: .3rem solid orange; */
}

.first {
  border: 0.1rem solid #e7e4e4;
  background-color: #e3e6e7;
  border-radius: 0.8rem;
  padding: 1rem 1.5rem;
  font-size: 1.7rem;
  color: black;
  transition: bottom ease-in 9s;
  display: none;
}

.login {
  display: flex;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2% 10%;
  background-color: aliceblue;
  background-color: #f5f5f7;
}

.hright {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  height: 80%;
  width: 80%;
}

.hleft {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
  width: 80%;
}

.hright p {
  font-size: 2.2rem;
}
.hright h1 {
  font-size: 5rem;
  font-weight: 700;
}

.hright h4 {
  font-size: 2.2rem;
  font-weight: 400;
}

.otn {
  padding: 1.4rem 0.6rem;
  font-size: 1.8rem;
  background-color: #dbe2e4;
  border: none;
  border: 1px solid white;
  border-radius: 1rem;
  width: 12.2rem;
  transition: 0.6s ease-in-out;
}

.otn:hover {
  background-color: rgb(139, 132, 151);
}

.hleft img {
  height: 100%;
  object-fit: cover;
}
.banner {
  /* background-color: #bed0d7; */
  background-color: #ffffff;
  height: calc(100vh - 90vh);
}

.banner h1 {
  
    font-size: 5rem;
    color: transparent;
    -webkit-text-stroke: 1px  rgb(139, 132, 151);
  
  }



.pro {
  margin-right: 5rem;
}

/* ....................secondn lauout..............................  */
.secondlayout {
  padding: 2% 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: aliceblue;
  background-color: #f5f5f7;
}

.rightlay {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 40%;
}



.box2{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
 
  
}


.box4{
  width: 100%;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}



.rightlay img {
  max-height: 40%;
  object-fit: cover;
  height: 70%;
}
.ktn {
  padding: 1.4rem 0.6rem;
  font-size: 1.8rem;
  background-color: #eff4f5;
  border: none;
  border: 1px solid white;
  border-radius: 1rem;
  margin-left: 5rem;
  width: 12.2rem;
  transition: 0.6s ease-in-out;
}
.ktn:hover {
  background-color: #afb6b8;
}


.ktn1 {
  padding: 1.4rem 0.6rem;
  font-size: 1.8rem;
  background-color: #b7dbe2;
  border: none;
  border: 1px solid white;
  border-radius: 1rem;
  
}

.leftlay {
  height: 100%;
  width: 40%;
  display: flex;
  align-items: left;
  justify-content: center;
  gap: 2rem;
  flex-direction: column;
  flex-basis: 40%;
}

.leftlay h2 {
  color: #514a4a;
  font-family: roboto;
  font-size: 3.5rem;
  font-weight: 500;
}

.leftlay p {
  /* font-family: cursive; */
  font-size: 2rem;
  font-weight: 300;
  color: black;
}

.secondbanner {
  height: calc(100vh - 90vh);
  background-color: #ffffff;

  padding: 0rem 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.kkr {
  padding: 1.3rem 0.6rem;
  font-size: 2rem;
  background-color: #eaebeb;
  border: 1px solid white;
  border-radius: 1.1rem;
  /* border-radius: 0.3rem */
}

/* .....................third layout.........................   */

.thirdlayout {

  padding: 9% 10%;
  background-color: aliceblue;
  background-color: #f5f5f7;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-scroll-div {
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 100%; */
  width: 100%;
}
.cover::before {
  position: relative;
  content: "";
  left: 0;
  top: 0;
  z-index: 99;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(90deg black, transparent);
}

.cover::after {
  position: relative;
  content: "";
  left: 0;
  top: 0;
  z-index: 99;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(-90deg black, transparent);
}

.cover {
  position: relative;
  height: 50%;
  width: 90%;
}

.scroll-images {
  width: 100%;
  height: auto;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  overflow: auto;
  position: relative;
  scroll-behavior: smooth;
}

.scroll-images::-webkit-scrollbar {
  -webkit-apearance: none;
}

.main-scroll-div ::-webkit-scrollbar {
  display: none;
}
.child p {
  font-size: 2rem;
}
.child h3 {
  font-size: 2rem;
  font-family: "Times New Roman", Times, serif;
}

.child {
  padding: 0% 5%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  /* align-items: center; */
  /* min-width: 66rem; */
  min-width: 48%;
  height: 30rem;
  margin: 0.1rem 1rem;
  cursor: pointer;
  border: 0.1rem solid #878686;
  overflow: hidden;
}


.child-image {
  width: 20%;
  border-radius: 50%;

}

.child-image > img {
  width: 20%;
}

.ter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 50%;
  background-color: red;
}
.child-img {
  height: 100%;
  width: 100T;
}

.feed {
  width: 200%;
  height: 40%;
  border: 2px solid red;
}

.toplayout {
  padding: 5% 10%;
  height: 100%;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
}

.mslide {
  display: flex;

  background-color: green;
  width: 100%;
  padding: 2vh;
  overflow-x: scroll;
}
.mbox {
  height: 100%;
  width: 90%;
  border: 1px solid red;
}

.footer {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2% 10%;
  height: 10vh;
  background-color: rgb(0 0 0);
  background-color: #ffffff;
}

.flink i {
  font-size: 3rem;
}

.flink ul {
  display: flex;
  gap: 3rem;
}
.flink ul li {
  display: inline;
  list-style: none;
}

.flink ul li a {
  text-decoration: none;
  color: white;
}

.fcopy h3 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 2.5rem;
  color: #9e9e9e;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner1 h2 {
  font-family: "Courier New", Courier, monospace;
  text-transform: uppercase;
  font-size: 1.6rem;
}

.fourthlayout {
  background-color: #f5f5f7;
  padding: 2% 4%;
}

.inbox2 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 30%;
  width: 100%;
  padding: 5%;
  border-radius: 0.2rem;
}

.sicon2 {
  border-radius: 0.3rem;
  margin-right: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
  width: 8rem;
  background-color: white;
  outline: 0.3rem px solid black;
}

.bx {
  font-size: 5rem;
}

.bor {
  border-radius: 0.4rem;
  border: 0.2rem solid black;
}

.knowledge {
  background-color: aliceblue;
  margin-top: 2rem;
}

.scontainer1 {
  width: 100%;
  height: 100%;
}

/* ......utility.......  */

.blankspace {
  display: hidden;
  height: 7vh;
}

/* ......utility .......   */

/* ................  services page css ..............    */

.services {
  height: 83vh;
  /* background-color: aliceblue; */
  background-color: #f5f5f7;
  padding: 2% 10%;
}

.shead {
  text-align: center;
  background-color: fff;
  padding: 2vh 0;
}

.shead h1 {
  font-family: monospace;
  color: transparent;
  -webkit-text-stroke: 3px black;

}



.scontainer {
  width: 100%;
  padding: 2% 5%;
  height: 100%;
}

.sbox {
  display: flex;

  height: 100%;
  width: 100%;
  gap: 2rem;
}

.sright {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  height: 100%;
  width: 100%;
}
.sleft {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  height: 100%;
  width: 100%;
}

.inbox {
  display: flex;
  align-items: top;
  justify-content: space-between;
  height: 30%;
  width: 100%;
  padding: 5%;
  background-color: green;
  border-radius: 0.2rem;
}

.inbox:hover {
  border-bottom: 0.5rem solid black;
  border-right: 0.5rem solid black;
}

.sicon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
  width: 15rem;
  background-color: white;
  outline: 0.1rem px solid black;
}
.sicon i {
  font-size: 3rem;
}
.sdata {
  margin-left: 1rem;
}
.sdata p {
  font-weight: 300;
}
.sdata h4 {
  font-size: 2rem;
  font-weight: 400;
  color: black;
}

/* * ................. portfolio ..................    */

.portfolio {
  background-color: ffff;
  padding: 2% 10%;
  text-align: center;
}

.portfolio > h1 {
  font-weight: bold;
  color: rgb(126, 151, 175);
  font-family: cursive;
}

.pcontainer {
  height: 100%;
  width: 100%;
}

.pbox {
  width: 100%;
  margin-top: 5vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.pimg {

  background-color: rgb(42, 67, 179);
  width: 48%;
  height: 100%;
  border-radius: 10px;
  position: relative;
  transition: background 0.5s, transform 0.6s;
  display: block;
}

.pimg img {
  height: 100%;
  border-radius: 10px;
  width: 100%;
  display: block;
  
}



.pimg:hover .layer{
  height: 100%;
}

.layer {
  position: absolute;
  top: 0;
  bottom: 0;
height: 0%;
width: 100%;
overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  padding: 0% 10%;
  background: linear-gradient(rgba(212, 145, 145, 0.6), #ff004f);
  /* gap: 1.5rem; */
  transition: height 0.5s ;
}

.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 10%;
  left: 10%;
  height: 8rem;
  width: 15rem;
  background-color: rgb(124, 139, 190);
  border-radius: 1rem;
  outline: 0.1rem solid white;
  visibility: hidden;
  display: none;
}

.arrow i {
  font-size: 10rem;
  color: #c2cff5;
}

.pdata {
  padding: 0.5% 4%;
  width: 48%;
  height: 100%;
  background-color: #fff8f8;
  border-radius: 10px;
  box-shadow: 10px 5px 5px #dfd5d5;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  transition: transform 0.5s ease-in-out, color 0.6s;
}

.pdata:hover {
  transform: translateY(-10px);
  background-color: rgb(136, 141, 214);
  color: white;
}

.kotn {
  width: 26%;
  display: block;
  padding: 1.3rem;
  border-radius: 10px;
  background-color: #b5c1c7;
  border: none;
  margin-top: 2rem;
  border: 1px solid white;
  display: block;
}
.kotn1 {
  width: 26%;
  display: block;
  padding: 1.3rem;
  border-radius: 10px;
  background-color: #b5c1c7;
  border: none;
  margin-top: 2rem;
  border: 1px solid white;
  display: block;
}

.kotn:hover {
  background-color: rgb(112, 46, 226);
}

.pbtn {
  width: 26%;
  padding: 1.3rem;
  border-radius: 10px;
  background-color: #b5c1c7;
  border: none;
  border: 1px solid white;
  display: block;
}

.utn {
  border: 0.1rem solid #fff9f9;
  background-color: rgb(204, 203, 202);
  border-radius: 2rem;
  padding: 1.3rem 1.5rem;
  font-size: 1.7rem;
  color: black;
  transition: 0.6s ease-in-out;
}

.utn:hover {
  border: 0.1rem solid red;
  background-color: rgb(126, 126, 126);
  outline: 0.3rem solid rgb(114, 114, 114);
}

.pdata h1 {
  text-align: left;
  font-size: 2.8rem;
}

.pdata p {
  font-size: 1.9rem;
  color: red;
  text-align: left;
}

.pro {
  color: orange;
}
.pro p,
.cli p {
  color: green;
}

.cli {
  color: red;
}

.maine {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
  padding: 0% 5%;
  width: 100%;
}
.containere {
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  width: 46%;
 
  align-items: center;
  box-shadow: 10px 5px 5px #dfd5d5;
  border-radius: 20px;
  background-color: #f5f5f7;
  transition: background 0.5s, transform 0.5s;
}
.containere1 {
  padding: 1.4rem;
  display: flex;
  justify-content: space-between;
  width: 46%;
   align-items: center;
  box-shadow: 10px 5px 5px #dfd5d5;
  border-radius: 20px;
  background-color: #f5f5f7;
  transition: background 0.5s, transform 0.5s;
}

.containere:hover {
  background-color: rgb(123, 110, 180);
  transform: translateY(-10px);
}

.containere1:hover {
  background-color: rgb(129, 199, 240);
  transform: translateY(-10px);
  border: 0.1rem solid black ;

}

.sicone {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}


.sadatae {
  display: flex;

  justify-content: center;
  flex-direction: column;
  width: 80%;

  height: 100%;
}

.sicone i {
  font-size: 5rem;
  color: #032c08;
}

.sadatae h1 {
  font-size: 2rem;
  color: black;
}

.sadatae p {
  font-size: 1.9rem;
}

.sadatae1 p {
  font-size: 1.5rem;
}

.child p {
  font-size: 1.5rem;
}

/* ................. contact me ..................   */

.contact {
  padding: 2% 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: aliceblue;
  background-color: #f5f5f7;
}

.chead {
  text-align: center;
  background-color: #f5f5f7;
  padding: 2vh 0;
}


.rightform {
  padding: 2% 4%;
  height: 90%;
  width: 45%;

  /* border: 1px solid red; */
  /* background-color: aliceblue; */
}

.rightform input {
  border-radius: 1rem;
  font-size: 1.7rem;
  color: black;

  padding: 1rem 2rem;
  border: 1px solid black;
}

.leftform {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  padding: 2% 4%;
  flex-direction: column;
  height: 90%;
  width: 45%;
  /* margin-bottom: 10%; */
  /* border: 1px solid red; */
  /* background-color: aliceblue; */
}

.formbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  overflow: hidden;
}

.name {
  margin: 1.5rem 0rem;
  width: 45%;
}
.email {
  width: 45%;
  margin: 1.5rem 0rem;
}

.name input {
  width: 100%;
}
.email input {
  width: 100%;
}

.text {
  width: 100%;
  margin-bottom: 1.5rem;
}

.comment {
  border-radius: 1.1rem;
  font-size: 1.7rem;
  color: black;
  border: 0.1rem solid black;
  width: 100%;
}

.submit {
  margin-top: 1.5rem;
  background-color: #c6cbe3;
  border-radius: 1rem;
  border: 1px solid white;
  padding: 1rem 1.8rem;
  cursor: pointer;
  font-size: 2rem;
  transition: 0.1s ease-out;
}

.submit:hover {
  border: 0.1rem solid black;
  border-radius: 0.5rem;
}

.submit1 {
  margin-top: 1.5rem;
  background-color: #6e7dc3;
  border-radius: 1rem;
  border: 1px solid white;
  padding: 1rem 1.8rem;
  cursor: pointer;
  font-size: 2rem;
  transition: 0.1s ease-out;
  visibility: hidden;
}
.calbox {
  display: flex;
  width: 80%;
  /* border: 2px solid red; */
  padding: 1rem;
}

.callicon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:#c6cbe3;
  height: 4.5rem;
  width: 4.5rem;
 border-radius:4px;
}

.calldata {
  /* background-color: red; */
  margin-left: 5%;
  color: rgb(71, 58, 58);
}

.callicon i {
  font-size: 4rem;
  padding: 0.3rem;
}

.chead {
  font-size: 2rem;
}

.chead h1 {
  color: #1f8cbe;
  

}

.portfolio {
  background-color: #ffff;
  font-size: 2rem;
}

.shead {
  font-size: 2rem;
}

.insta {
  color: red;
}

.face {
  color: blue;
}

.linke {
  color: rgb(77, 77, 233);
}

.twitter {
  color: rgb(52 208 247);
}

#msg {
  margin-top: 1rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  display: block;
  font-size: 2.3rem;
  color: green;
}

.kali {
  height: 400px;
  width: 400px;
  border: 1px solid black;
  border-radius: 20%;

  position: absolute;
  top: 8%;
  left: 70%;
  z-index: 11111111111111111111111111;
}

.ids {
  height: 100px;
  width: 200px;
  color: green;
}




/* .................. Ending contact form ..................  */

/* .......scrollbar ..........   */

::-webkit-scrollbar {
  width:1rem;
}
::-webkit-scrollbar-track {
background-color: #e6e7e7;  
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(#64b2ff , #ff22e6);
  border-radius: 10px;
}


