@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  overflow-x: hidden;
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  width: 100vw;
  height: 7vh;
  padding: 1% 10%;
  background-color: #e6e9f0;
  backdrop-filter: blur ;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.hlinks {
  transition: 0.2s ease-in;
}

.hlinks ul {
  display: flex;
  gap: 3rem;
}

.hlinks ul li {
  list-style: none;
}

.hlinks ul li a {
  text-decoration: none;
  font-size: 2rem;
  font-weight: 400;
  color: rgb(8, 8, 8);
  cursor: pointer;
  border-radius: 3rem;
  position: relative;
}

.hlinks ul li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgb(102, 92, 92);
  height: .2rem;
  width: 0%;
  transition: 2s ease;
}

.hlinks ul li a:hover::after {
  width: 100%;
  color: rgb(102, 92, 92);
}

i.bx-menu-alt-right {
  display: none;
  font-size: 3rem;
  color: rgb(19, 18, 18);
}

i.bx-x {
  display: none;
}

.btn {
  border: .1rem solid black;
  background-color: rgb(204, 203, 202);
  border-radius: 3rem;
  padding: .6rem 1.5rem;
  font-size: 1.7rem;
  color: black;
  transition: bottom ease-in 9s;
}

.btn:hover {
  background-color: rgb(77, 74, 74);
  outline: .3rem solid orange;
}

.first{
  border: .1rem solid black;
  background-color: rgb(231 27 12);
  border-radius: 0.8rem;
  padding: .6rem 1.5rem;
  font-size: 1.7rem;
  color: black;
  transition: bottom ease-in 9s;
  display: none;
}

.login{
  display: flex;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2% 10%;
}

.hright {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  height: 80%;
  width: 80%;
}

.hleft {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
  width: 80%;
}

.hright p {
  font-size: 2.2rem;
}
.hright h1 {
  font-size: 5rem;
  font-weight: 700;
}

.hright h4 {
  font-size: 2.2rem;
  font-weight: 400;
}

.otn {
  margin-top: 2rem;
  padding: .3rem .6rem;
  font-size: 2rem;
  background-color: orange;
  border: none;
  border-radius: .3rem;
  width: 12.2rem;
}
.otn:hover {
  background-color: rgb(163, 160, 160);
  border: .1rem solid orange;
}

.hleft img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.banner {
   background-color: skyblue;
  height: calc(100vh - 90vh);
}

/* ....................secondn lauout..............................  */
.secondlayout {
  padding: 2% 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rightlay {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 40%;
  }

.rightlay img {
  height: 30rem;
  object-fit: cover;
}
.ktn {
  margin-left: 5rem;
}

.leftlay {
  height: 100%;
  width: 40%;
  display: flex;
  align-items: left;
  justify-content: center;
  gap: 2rem;
  flex-direction: column;
  flex-basis: 40%;
}

.leftlay h2 {
  font-size: 3.5rem;
  font-weight: 800;
}

.leftlay p {
  font-size: 2rem;
  font-weight: 300;
  color: rgb(185, 216, 243);
}

.secondbanner {
  height: calc(100vh - 90vh);
  background-color: cyan;
  padding: 0rem 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.kkr {
  padding: .3rem .6rem;
  font-size: 2rem;
  background-color: orange;
  border: none;
  border-radius: .3rem;
}

/* .....................third layout.........................   */

.thirdlayout {
  padding: 2% 10%;
  background-color: #f5f6f8;
}

.toplayout {
  padding: 5% 10%;
  height: 100%;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
}


.mslide{
  display: flex;
 
  background-color: green;
  width: 100%;
  padding: 2vh;
  overflow-x: scroll;
}
.mbox{
  height: 100%;
  width:90%;
  border: 1px solid red;
  }

.footer {

  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2% 10%;
  height: 10vh;
  background-color: rgb(217, 215, 250);
}


.flink i {
  font-size: 3rem;
}

.flink ul {
  display: flex;
  gap: 3rem;
}
.flink ul li {
  display: inline;
  list-style: none;
}

.flink ul li a {
  text-decoration: none;
  color: white;
}



/* ......utility.......  */

.blankspace {
  display: hidden;
  height: 7vh;

}

/* ......utility .......   */

/* ................  services page css ..............    */

.services {
  height: 83vh;
  background-color: antiquewhite;
  padding: 2% 10%;
 
}

.shead{
  text-align: center;
  background-color: antiquewhite;
  padding: 2vh 0;
}

.shead h1 {
  text-decoration: underline;
  
}

.scontainer {
  width: 100%;
  padding: 2% 5%;
  height: 100%;

}

.sbox {
  display: flex;

  height: 100%;
  width: 100%;
  gap: 2rem;

}

.sright{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  height: 100%;
  width: 100%;
 
}
.sleft{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  height: 100%;
  width: 100%;

}


.inbox{
  display: flex;
  align-items: top;
  justify-content:space-between;
  height: 30%;
  width: 100%;
  padding: 5%;
  background-color: green;
 border-radius: .2rem ;
}

.inbox:hover{
  border-bottom:  .5rem solid black;
  border-right: .5rem solid black;
}

.sicon{
  display: flex;
  align-items: center;
  justify-content:center;
  height: 5rem;
  width: 15rem;
  background-color: white;
  outline: .1rem px solid black;
}
.sicon i{
  font-size: 3rem;
}
.sdata{
  margin-left: 1rem;
}
.sdata p{
  font-weight: 300;
}
.sdata h4{
  font-size: 2rem;
  font-weight: 400;
  color: black;
}

.web{
  background-color: rgba(166, 224, 247, 0.788);
}

.seo{
  background-color: rgb(238, 190, 168);
}

.dev{
  background-color: rgb(181, 233, 165);
}
.comp{
  background-color: rgb(250, 218, 73);
}
.shape{
 
  background-color: rgb(91, 176, 245);
}

.globe{
  background-color: rgb(192, 171, 228);
}
/* ................. portfolio ..................   */

.portfolio {
  /* height: 83vh; */
  background-color: rgb(240, 141, 11);
  padding: 2% 10%;
  text-align: center;
}


.pcontainer{
  height: 100%;
  width: 100%;
  border: .1rem solid red;

}

.pbox{
  width: 100%;
  background-color: antiquewhite;
  margin-top: 5vh ;
border: .1rem solid black;
display: flex;
}


.pimg{
  width: 50%;
  height: 100%;
  border: .1rem solid rgb(192, 15, 15);
  position: relative;
  /* z-index: -1; */
}

.arrow{
  position: absolute;
  top: 10%;
  left: 10%;
  height: 2rem;
  width: 30rem;
  background-color: orangered;
  animation: kriss infinite 2s ;
}


.pimg img{
  height: 100%;
  padding-right: 2rem;
  width: 100%;
}


.pdata{
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  border: 1px solid rgb(192, 15, 15);
}

.pbtn{
  width:22%;

}
.pbtn:hover{
  border: .1rem solid black;
}



























/* ................. contact me ..................   */

.contact {
   padding: 2% 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #c6d1e9;
}


.chead{
  text-align: center;
  background-color: #c6d1e9;
padding: 2vh 0;
}

.chead h1 {
  text-decoration: underline;
}
.rightform {
  padding: 2% 4%;
  height: 90%;
  width: 45%;
  /* border: 1px solid red; */
  /* background-color: aliceblue; */
}

.rightform input {
  font-size: 1.7rem;
  color: black;

  padding: 1rem 2rem;
  border: 1px solid black;
}

.leftform {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  padding: 2% 4%;
  flex-direction: column;
  height: 90%;
  width: 45%;
  margin-bottom: 10%;
  /* border: 1px solid red; */
  /* background-color: aliceblue; */
}

.formbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  overflow: hidden;
}

.name {
  margin: 1.5rem 0rem;
  width: 45%;
 
}
.email {
  width: 45%;
  margin:1.5rem 0rem;
  
}


.name input{
  width: 100%;
}
.email input{
  width: 100%;
}

.number {
  width: 100%;
  margin-bottom: 1.5rem;
}

.comment {
  font-size: 1.7rem;
  color: black;
  border: .1rem solid black;
  width: 100%;
}

.submit {
  margin-top: 1.5rem;
  background-color: orange;
  border: none;
  cursor: pointer;
}

.submit:hover {
  /* border: 3px solid black; */
  border-radius: .5rem;
}

.calbox {
  display: flex;
  width: 80%;
  /* border: 2px solid red; */
  padding: 1rem;
}

.callicon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #859fd9;
  height: 4.5rem;
  width: 4.5rem;
  /* border: 2px solid black; */
}

.calldata {
  /* background-color: red; */
  margin-left: 5%;
  color: rgb(71, 58, 58);
}

.callicon i {
  font-size: 4rem;
  padding: .3rem;
}
/* .................. Ending contact form ..................  */
