@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  width: 100vw;
  height: 7vh;
  padding: 1% 10%;
  background-color: #bed0d7;
  backdrop-filter: blur ;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.logo h1{
  font-family: cursive;
}
span{
  font-family: cursive;
  font-weight: 600;
  color: red;
}
.hlinks {
  transition: 0.2s ease-in;
}

.hlinks ul {
  display: flex;
  gap: 3rem;
}

.hlinks ul li {
  list-style: none;
}

.hlinks ul li a {
  text-decoration: none;
  font-size: 2rem;
  font-weight: 400;
  color: rgb(8, 8, 8);
  cursor: pointer;
  border-radius: 3rem;
  position: relative;
}

.hlinks ul li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgb(102, 92, 92);
  height: .2rem;
  width: 0%;
  transition: 2s ease;
}

.hlinks ul li a:hover::after {
  width: 100%;
  color: rgb(102, 92, 92);
}

i.bx-menu-alt-right {
  display: none;
  font-size: 3rem;
  color: rgb(19, 18, 18);
}

i.bx-x {
  display: none;
}

.btn {
  border: 0.1rem solid #fff9f9;
  background-color: rgb(204, 203, 202);
  border-radius: 1rem;
  padding: 0.6rem 1.5rem;
  font-size: 1.7rem;
  color: black;
  transition: 0.6s ease-in-out;
}

.btn:hover {
 border: 0.1rem solid red ;
  background-color: rgb(126, 126, 126);
  outline: .3rem solid orange;
}

.first{
  border: 0.1rem solid #c74040;
  background-color: #c2cbcf;
  border-radius: 0.8rem;
  padding: 1rem 1.5rem;
  font-size: 1.7rem;
  color: black;
  transition: bottom ease-in 9s;
  display: none;
}

.login{
  display: flex;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2% 10%;
  background-color: aliceblue;
}

.hright {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  height: 80%;
  width: 80%;
}

.hleft {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
  width: 80%;
}

.hright p {
  font-size: 2.2rem;
}
.hright h1 {
  font-size: 5rem;
  font-weight: 700;
}

.hright h4 {
  font-size: 2.2rem;
  font-weight: 400;
}

.otn {
 
  padding: 1.4rem .6rem;
  font-size: 1.8rem;
  background-color: #dbe2e4;
  border: none;
  border: 1px solid white;
  border-radius: 1rem;
   width: 12.2rem;
  transition: 0.6s ease-in-out;
}

.otn:hover {
  
   background-color: rgb(139, 132, 151);

}

.hleft img {

  height: 100%;
  object-fit: cover;
}
.banner {
   background-color: #bed0d7;
  height: calc(100vh - 90vh);
}

.banner h1{
  text-transform: uppercase;
}



.box{
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: red; */

}

/* ....................secondn lauout..............................  */
.secondlayout {
  padding: 2% 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: aliceblue;
}

.rightlay {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 40%;


  }

.rightlay img {
  height: 70%;
  object-fit: cover;
}
.ktn {
  padding: 1.4rem .6rem;
  font-size: 1.8rem;
  background-color: #4da3b4;
  border: none;
  border: 1px solid white;
  border-radius: 1rem;
  margin-left: 5rem;
  width: 12.2rem;
  transition: 0.6s ease-in-out;
}
.ktn:hover{
  background-color: #b5c4c7;
}


.leftlay {
  
  height: 100%;
  width: 40%;
  display: flex;
  align-items: left;
  justify-content: center;
  gap: 2rem;
  flex-direction: column;
  flex-basis: 40%;
}

.leftlay h2 {
  font-family: roboto;
  font-size: 3.5rem;
  font-weight: 800;
}

.leftlay p {
  font-family: cursive;
  font-size: 2rem;
  font-weight: 300;
  color: rgb(10 131 235);
}

.secondbanner {
  height: calc(100vh - 90vh);
  background-color: #bed0d7;
  padding: 0rem 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.kkr {
  padding: 1.3rem 0.6rem;
  font-size: 2rem;
  background-color:#b9cbcb;
  border: 1px solid white;
  border-radius: 1.1rem ;
  /* border-radius: 0.3rem */
}

/* .....................third layout.........................   */

.thirdlayout {
  height: 60vh;
  padding: 2% 10%;
  background-color:aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.main-scroll-div{
  display: flex;
 align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;

}
.cover::before{
  position: relative;
  content: "";
  left: 0;
  top: 0;
  z-index: 99;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(90deg black , transparent);
}

.cover::after{
  position: relative;
  content: "";
  left: 0;
  top: 0;
  z-index: 99;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(-90deg black , transparent);
}

.cover{
  position: relative;
  height: 50%;
  width: 90%;
}

.scroll-images{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  position: relative;
  scroll-behavior: smooth;
  
}

.scroll-images::-webkit-scrollbar{
  -webkit-apearance:none;
}

.child{
  min-width: 60rem;
  height: 30rem;
  margin:.1rem 1rem;
  cursor: pointer;
  border: .1rem solid #878686;
  overflow: hidden;
  
}
.child-img{
  height: 100%;
  width: 100T;
}

.feed{
  
  width: 200%;
  height: 40%;
  border: 2px solid red;
}

.toplayout {
  padding: 5% 10%;
  height: 100%;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
}


.mslide{
  display: flex;
 
  background-color: green;
  width: 100%;
  padding: 2vh;
  overflow-x: scroll;
}
.mbox{
  height: 100%;
  width:90%;
  border: 1px solid red;
  }

.footer {

  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2% 10%;
  height: 10vh;
  background-color:rgb(0 0 0);
}


.flink i {
  font-size: 3rem;
}

.flink ul {
  display: flex;
  gap: 3rem;
}
.flink ul li {
  display: inline;
  list-style: none;
}

.flink ul li a {
  text-decoration: none;
  color: white;
}


.fcopy h3{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 2.5rem;
  color: #9E9E9E;
}


.banner{
  display: flex;
  align-items: center;
  justify-content: center;

}

.banner1 h2{
  font-family: 'Courier New', Courier, monospace;
 text-transform: uppercase;
  font-size: 1.6rem;
}


.fourthlayout{

    height: 60vh;
    background-color: aliceblue;
    padding: 2% 4%;
  }


.inbox2{
  display: flex;
  align-items:center;
  justify-content:flex-start;
  height: 30%;
  width: 100%;
  padding: 5%;
  /* background-color: green; */
 border-radius: .2rem ;
}

.sicon2{
  border-radius: .3rem;
  margin-right: 2rem;
  display: flex;
  align-items: center;
  justify-content:center;
  height: 5rem;
  width: 8rem;
  background-color: white;
  outline: .3rem px solid black;
}

.bx{
  font-size: 5rem;
}


.bor{
  border-radius: .4rem;
  border: .2rem solid black;
}

.knowledge{
  background-color: aliceblue;
  margin-top: 2rem;
}

.scontainer1 {
  width: 100%;
    height: 100%;
 

}







/* ......utility.......  */

.blankspace {
  display: hidden;
  height: 7vh;

}

/* ......utility .......   */

/* ................  services page css ..............    */

.services {
  height: 83vh;
  background-color: aliceblue;
  padding: 2% 10%;
 
}

.shead{
  text-align: center;
  background-color: aliceblue;
  padding: 2vh 0;
}

.shead h1 {
  text-decoration: underline;
  
}

.scontainer {
  width: 100%;
  padding: 2% 5%;
  height: 100%;

}

.sbox {
  display: flex;

  height: 100%;
  width: 100%;
  gap: 2rem;

}

.sright{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  height: 100%;
  width: 100%;
 
}
.sleft{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  height: 100%;
  width: 100%;

}


.inbox{
  display: flex;
  align-items: top;
  justify-content:space-between;
  height: 30%;
  width: 100%;
  padding: 5%;
  background-color: green;
 border-radius: .2rem ;
}

.inbox:hover{
  border-bottom:  .5rem solid black;
  border-right: .5rem solid black;
}

.sicon{
  display: flex;
  align-items: center;
  justify-content:center;
  height: 5rem;
  width: 15rem;
  background-color: white;
  outline: .1rem px solid black;
}
.sicon i{
  font-size: 3rem;
}
.sdata{
  margin-left: 1rem;
}
.sdata p{
  font-weight: 300;
}
.sdata h4{
  font-size: 2rem;
  font-weight: 400;
  color: black;
}

.web{
  background-color: rgba(166, 224, 247, 0.788);
}

.seo{
  background-color: rgb(238, 190, 168);
}

.dev{
  background-color: rgb(181, 233, 165);
}
.comp{
  background-color: rgb(250, 218, 73);
}
.shape{
 
  background-color: rgb(91, 176, 245);
}

.globe{
  background-color: rgb(192, 171, 228);
}
/* ................. portfolio ..................   */

.portfolio {
background-image: url('images/shinchan-removebg-preview.png');
background-position: center;
background-repeat: repeat;

  background-color:aliceblue;
  padding: 2% 10%;
  text-align: center;
}

.portfolio>h1{
  font-weight: bold;
  color: rgb(126, 151, 175);
  font-family: cursive;
}




.pcontainer{
  height: 100%;
  width: 100%;
  

}

.pbox{
  width: 100%;
  backdrop-filter:blur(10px) ;
  margin-top: 5vh ;
border: .1rem solid black;
display: flex;
}


.pimg{
  background-image: url('images/images.jpeg');
  background-position: center;
  background-repeat: no-repeat;
background-size: cover;
  width: 50%;
  height: 100%;
  /* border: .1rem solid rgb(192, 15, 15); */
  position: relative;
  /* z-index: -1; */
}

.arrow{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 10%;
  left: 10%;
  height: 8rem;
  width: 15rem;
  background-color: rgb(124, 139, 190);
  border-radius: 1rem ;
  outline: .1rem solid white ;
  visibility: hidden;
  display: none;
  
}

.arrow i{
  font-size: 10rem;
  color: #c2cff5;
  
}


.pimg img{
  height: 100%;
  padding-right: 2rem;
  width: 100%;
}


.pdata{
  backdrop-filter:blur(10px) ;
  padding: 2% 4%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 50%;
  height: 100%;
  border: 1px solid rgb(192, 15, 15);
}

.pbtn{
  width:22%;

}
.pbtn:hover{
  border: .1rem solid black;
}


.kotn {
  padding: 1.3rem ;
  font-size: 2rem;
  background-color: #b5c1c7;
  border: none;
  border: 1px solid white;
  display: block;
  width:30%;
}

.kotn:hover {
  outline: .5rem solid rgb(221, 201, 201) ;
   background-color: rgb(191, 188, 196);

}

.utn {
  border: 0.1rem solid #fff9f9;
  background-color: rgb(204, 203, 202);
  border-radius: 2rem;
  padding: 1.3rem 1.5rem;
  font-size: 1.7rem;
  color: black;
  transition: 0.6s ease-in-out;
}

.utn:hover {
 border: 0.1rem solid red ;
  background-color: rgb(126, 126, 126);
  outline: .3rem solid rgb(114, 114, 114);
 
}

.pdata h1{
  text-align: left;
  font-size: 2.8rem ;
}

.pdata p{
  font-size: 1.9rem;
  color: red;
  text-align: left;
}



























/* ................. contact me ..................   */

.contact {
   padding: 2% 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: aliceblue;
}


.chead{
  text-align: center;
  background-color:aliceblue;
padding: 2vh 0;
}

.chead h1 {
  color: #000;
}
.rightform {
  padding: 2% 4%;
  height: 90%;
  width: 45%;

  /* border: 1px solid red; */
  /* background-color: aliceblue; */
}

.rightform input {
  border-radius: 1rem;
  font-size: 1.7rem;
  color: black;

  padding: 1rem 2rem;
  border: 1px solid black;
}

.leftform {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  padding: 2% 4%;
  flex-direction: column;
  height: 90%;
  width: 45%;
  /* margin-bottom: 10%; */
  /* border: 1px solid red; */
  /* background-color: aliceblue; */
}

.formbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  overflow: hidden;
}

.name {
  margin: 1.5rem 0rem;
  width: 45%;
 
}
.email {
  width: 45%;
  margin:1.5rem 0rem;
  
}


.name input{
  width: 100%;
}
.email input{
  width: 100%;
}

.text {
  width: 100%;
  margin-bottom: 1.5rem;
}

.comment {
  border-radius: 1.1rem;
  font-size: 1.7rem;
  color: black;
  border: .1rem solid black;
  width: 100%;
}


.submit {
  margin-top: 1.5rem;
  background-color: #6e7dc3;
  border-radius: 1rem;
  border: 1px solid white;
  padding: 1rem 1.8rem;
  cursor: pointer;
  font-size: 2rem;
  transition: .1s ease-out;
}

.submit:hover {
  border: .1rem solid black;
  border-radius: .5rem;
}

.submit1 {
  margin-top: 1.5rem;
  background-color: #6e7dc3;
  border-radius: 1rem;
  border: 1px solid white;
  padding: 1rem 1.8rem;
  cursor: pointer;
  font-size: 2rem;
  transition: .1s ease-out;
 visibility: hidden;
}
.calbox {
  display: flex;
  width: 80%;
  /* border: 2px solid red; */
  padding: 1rem;
}

.callicon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #859fd9;
  height: 4.5rem;
  width: 4.5rem;
  /* border: 2px solid black; */
}


.calldata {
  /* background-color: red; */
  margin-left: 5%;
  color: rgb(71, 58, 58);
}

.callicon i {
  font-size: 4rem;
  padding: .3rem;
}

.chead{
  font-size: 2rem;
}

.chead h1{
  color: #6a85c0;
  font-family: 'Courier New', Courier, monospace;
}

.portfolio {
  font-size: 2rem;
  /* text-decoration: underline; */
}

.shead {
  font-size: 2rem;
}




  .insta{
  color: red;
 }

 .face{
  color: blue;
 }

 .linke{
  color: rgb(77, 77, 233);  
 }

 .twitter{
  color:rgb(52 208 247);
 }



 #msg{
  margin-top: 1rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  display: block;
  font-size: 2.3rem;
  color: green;
  
 }


/* .................. Ending contact form ..................  */




/* ...........................portfolio form ................. */



